@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {--accent: hsl(277, 64%, 61%);}

* {
    margin: 0; padding: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

body {background: hsl(233, 47%, 7%);}

main {
    display: flex;
    flex-flow: row;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 0.5rem;
    background: hsl(244, 38%, 16%);
    overflow: hidden;
}

.title {
    padding: 5rem 5rem 4rem;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
}

p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    line-height: 1.75;
}

strong {
    color: var(--accent);
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 5rem 5rem 0 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

li p {
    font-family: 'Lexend Deca';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.image {
    width: 100%;
    background: url("images/image-header-desktop.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%; height: 100%;
    background: var(--accent);
    mix-blend-mode: multiply;
}

@media (max-width: 720px) {
    main {
        flex-flow: column-reverse;
        text-align: center;
    }

    .image {
        width: 100%;
        height: 15rem;
    }

    .title {
        padding: 2rem;
    }

    h1 {font-size: 1.5rem;}
    p {font-size: 13px;}

    ul {
        margin: 2rem 0 0;
        flex-flow: column;
        justify-content: center;
        gap: 1.5rem;
    }
}