@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --black: hsl(249, 10%, 26%);
    --gray: hsl(246, 25%, 77%);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('images/bg-intro-desktop.png'), var(--red);
}

main {
    display: flex;
    gap: 3rem;
    margin: 10rem;
}

h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

p {line-height: 1.7rem;}

.desc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sign-up {width: 100%;}

.try {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background: var(--blue);
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 .4rem hsla(249, 10%, 26%, .25);
}

.try strong {font-weight: 600;}

form {
    background: white;
    color: var(--gray);
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 .4rem hsla(249, 10%, 26%, .25);
}

input {
    padding: 1rem 1.5rem;
    width: 100%;
    color: var(--black);
    font-weight: 600;
    border: .5px solid var(--gray);
    border-radius: .35rem;
}

input:focus {
    border: 1px solid var(--blue);
    outline: none;
}

input[type="submit"] {
    margin-bottom: .5rem;
    color: white;
    background: var(--green);
    border: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
    box-shadow: inset 0 -3px hsla(249, 10%, 26%, .1);
    transition: all .35s;
}

input[type="submit"]:hover {
    opacity: .7;
}

form > p {
    color: var(--gray);
    font-size: 10px;
    text-align: center;
}

form strong {
    color: var(--red);
    font-weight: 700;
}

#error-fname, #error-lname, #error-email, #error-pw {
    margin-bottom: 1rem;
    color: var(--red);
    font-style: italic;
    text-align: right;
    transition: all .35s;
}

.error {
    background: url('images/icon-error.svg') no-repeat 94%;
    border: 2px solid var(--red);
    transition: all .35s;
}

@media (max-width: 600px) {
    body {
        background: url('images/bg-intro-mobile.png'), var(--red);
    }
}