@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

:root {
    --primary: hsl(25, 97%, 53%);
    --grey-light: hsl(217, 12%, 63%);
    --grey-med: hsl(216, 12%, 54%);
    --blue-dark: hsl(213, 19%, 18%);
}

body {
    background: hsl(216, 12%, 8%);
}

main {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 400px;
    background: linear-gradient(hsl(210, 20%, 14%), hsl(210, 14%, 11%));
    border-radius: 2rem;
}

h1 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: .75rem;
}

p {
    color: var(--grey-med);
    font-size: 15px;
    line-height: 1.5rem;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 3rem; height: 3rem;
    background: var(--blue-dark);
    border-radius: 50%;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin: 1.75rem 0;
}

input[type="radio"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-dark);
    width: 3rem; height: 3rem;
    color: var(--grey-med);
    font-size: 15px;
    border-radius: 50%;
    transition: all .35s;
}

label:hover {
    color: white;
    background: var(--primary);
}

input[type="radio"]:checked + label {
    color: white;
    background: var(--grey-med);
}

input[type="submit"] {
    padding: .75rem;
    width: 100%;
    color: white;
    background: var(--primary);
    font-weight: 700;
    letter-spacing: 3px;
    border: 0;
    border-radius: 3rem;
    transition: all .35s;
}

input[type="submit"]:hover {
    color: var(--primary);
    background: white;
}

#after-submit {
    display: none;
    flex-flow: column wrap;
    align-items: center;
}

#after-submit img {
    margin: 1rem auto 0;
}

#result {
    display: inline-block;
    margin: 2rem auto;
    padding: .5rem 1rem;
    color: var(--primary);
    background: var(--blue-dark);
    font-weight: 400;
    border-radius: 3rem;
}

#after-submit h1, #after-submit p {
    text-align: center;
}

@media (max-width: 600px) {
    main {
        width: 325px;
    }
}