@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pri-blue: hsl(245, 75%, 52%);
    --pale-blue: hsl(225, 100%, 98%);
    --grey-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: var(--grey-blue);
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    line-height: 1.5;
}

body {
    background: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

img {width: 100%;}

main {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    background: white;
    border-radius: 1.5rem;
    overflow: hidden;
    filter: drop-shadow(0 2rem 1rem hsla(245, 75%, 52%, 0.1));
}

.summary {margin: 3rem 5rem 1.5rem;}

h1 {
    margin-bottom: 1.5rem;
    color: var(--dark-blue);
    font-size: 1.75rem;
    font-weight: 900;
}

.desc {
    color: var(--grey-blue);
    line-height: 1.7;
}

.plan {
    display: flex;
    align-items: center;
    margin: 1.5rem 3rem 2rem;
    padding: 1.5rem;
    background: var(--pale-blue);
    border-radius: 0.75rem;
}

.plan img {
    width: 2.5rem;
    margin-right: 1.5rem;
}

.plan-desc {
    flex: 1;
    text-align: left;
}

.plan-desc strong {
    color: var(--dark-blue);
    font-weight: 900;
}

.plan a {
    color: var(--pri-blue);
    font-weight: 700;
    transition: 0.25s ease-in-out;
} 

.plan a:hover {opacity: 0.7;}

.proceed {
    margin: 1.5rem 3rem;
    padding: 1rem;
    background: var(--pri-blue);
    color: white;
    font-weight: 700;
    border-radius: 0.75rem;
    filter: drop-shadow(0 1rem 0.5rem hsla(245, 75%, 52%, 0.25));
    transition: 0.25s ease-in-out;
} 

.proceed:hover {opacity: 0.7;}

.cancel {
    margin: 2rem 2rem 3rem;
    color: var(--grey-blue);
    font-weight: 700;
    transition: 0.25s ease-in-out;
} 

.cancel:hover {color: var(--dark-blue);}



@media (max-width: 500px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
    }

    main {width: 90%;}
    .summary {margin: 1.5rem 3rem;}
    h1 {font-size: 1.5rem;}

    .plan {
        margin: 1.5rem;
        padding: 1rem;
    }

    .plan img {
        width: 3rem;
        margin-right: 1rem;
    }

    .proceed {margin: 1.5rem;}
    .cancel {margin: 1.5rem 1.5rem 2rem;}
}