@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root {
    --white: hsl(193, 38%, 86%);
    --green: hsl(150, 100%, 66%);
    --gray: hsl(217, 19%, 38%);
    --gray-dark: hsl(217, 19%, 24%);
    --blue-dark: hsl(218, 23%, 16%);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--blue-dark);
}

main {
    position: relative;
    margin: 1rem;
    padding: 2.5rem 1.5rem 3.5rem;
    width: 100%;
    background: var(--gray-dark);
    border-radius: .75rem;
    box-shadow: 0 1rem 2rem var(--blue-dark);
}

h1 {
    margin-bottom: 2rem;
    font-size: 10px;
    color: var(--green);
    text-transform: uppercase;
    letter-spacing: 5px;
}

p {
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 24px;
}

#divider {
    background: url('images/pattern-divider-mobile.svg') center no-repeat;
    width: 100%; height: 2rem;
}

button {
    position: absolute;
    bottom: -2rem; left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 4rem; height: 4rem;
    background: var(--green);
    border: 0;
    border-radius: 50%;
    transition: all .25s;
}

button:hover {
    box-shadow: 0 0 2rem var(--green);
}

@media (min-width: 800px) {
    main {
        padding: 3rem 2.5rem 3.5rem;
        width: 30%;
    }

    p {
        margin-bottom: 1.5rem;
        font-size: 28px;
    }

    #divider {
        background: url('images/pattern-divider-desktop.svg') center no-repeat;
    }
}