@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:wght@700;900&display=swap');

:root {
    --black: hsl(212, 27%, 19%);
    --dark-gray: hsl(213, 9%, 39%);
    --blue-dark: hsl(232, 10%, 55%);
    --blue-gray: hsl(210, 4%, 67%);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
p, a {
    font-size: 18px;
    text-decoration: none;
}



/* Header */

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    color: white;
    background: url('images/desktop/image-header.jpg') center/cover no-repeat;
}

header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.5rem;
    width: 100%;
}

label i {
    font-size: 1.5rem;
    color: white;
}

header input, header label {display: none;}

nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

nav a {color: white;}

#contact {
    padding: 1rem 1.75rem;
    background: white;
    border: 0;
    border-radius: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    transition: all .25s;
}

#contact:hover {
    background: hsla(0, 0%, 100%, .3);
    color: white;
}

h1 {
    margin: 8rem auto;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}



/* Main */

main section {display: flex;}
main section div {
    padding: 10rem;
    width: 100%;
}

h2 {font-size: 2.5rem;}
h3 {font-size: 1.75rem;}

main section div p {
    margin: 2rem 0;
    color: var(--blue-dark);
    line-height: 1.75rem;
}

.desc a {
    position: relative;
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.transform a::before,
.standout a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px; left: -6px;
    width: 110%; height: .6rem;
    background: hsla(51, 100%, 49%, .3);
    border-radius: 1rem;
    z-index: -1;
    transition: all .25s;
}

.standout a::before {background: hsla(7, 99%, 70%, .2);}

.transform a:hover::before {background: hsl(51, 100%, 49%);}
.standout a:hover::before {background: hsl(7, 99%, 70%);}

#egg {background: url('images/desktop/image-transform.jpg') center/cover no-repeat;}
#goblet {background: url('images/desktop/image-stand-out.jpg') center/cover no-repeat;}
.graphic {background: url('images/desktop/image-graphic-design.jpg') center/cover no-repeat;}
.photo {background: url('images/desktop/image-photography.jpg') center/cover no-repeat;}

main .misc div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 40rem;
    padding-bottom: 2.5rem;
}

.graphic h3, .graphic p {
    color: hsl(167, 40%, 24%);
    text-align: center;
}

.photo h3, .photo p {
    color: hsl(198, 62%, 26%);
    text-align: center;
}

.client {
    flex-flow: column;
    padding: 10rem;
}

.client > h4 {
    margin: 2rem auto;
    color: var(--blue-gray);
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.reviews {
    display: flex;
    gap: 2rem;
    padding: 0;
}

.reviews div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0;
}

.reviews img {
    transform: scale(0.5);
    border-radius: 50%;
}

.reviews p {
    margin-bottom: 4rem;
    color: var(--dark-gray);
    text-align: center;
}

.reviews h4 {
    margin-bottom: 1rem;
    color: var(--black);
    font-size: 18px;
}

.reviews span {
    color: var(--blue-gray);
}

.gallery div {height: 27rem;}

#milk {background: url('images/desktop/image-gallery-milkbottles.jpg') center/cover no-repeat;}
#orange {background: url('images/desktop/image-gallery-orange.jpg') center/cover no-repeat;}
#cone {background: url('images/desktop/image-gallery-cone.jpg') center/cover no-repeat;}
#sugar {background: url('images/desktop/image-gallery-sugarcubes.jpg') center/cover no-repeat;}



/* Footer */

footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: hsl(166, 36%, 72%);
}

#logo {
    margin-top: 2rem;
    width: 10rem; height: 5rem;
    background: hsl(168, 34%, 41%);
    -webkit-mask: url('images/logo.svg') center no-repeat;
    mask: url('images/logo.svg') center no-repeat;
}

#footer-menu {
    display: flex;
    gap: 3rem;
}

#footer-menu p, #social i {
    color: hsl(168, 34%, 41%);
    transition: all .25s;
}

#footer-menu p:hover, #social i:hover {
    color: white;
}

#social {
    display: flex;
    gap: 1.5rem;
    margin: 5rem;
    font-size: 1.5rem;
}


@media (max-width: 800px) {
    header {
        height: 35rem;
        background: url('images/mobile/image-header.jpg') center/cover no-repeat;
    }

    header .top {padding: 2rem 1.5rem;}
    
    nav {display: none;}

    header label {display: block;}

    header input:checked ~ nav {
        display: flex;
        position: absolute;
        top: 7rem; left: 2rem; right: 2rem;
        background: white;
        flex-flow: column nowrap;
        align-items: center;
        gap: 2rem;
        text-align: center;
        padding: 2.5rem;
    }

    nav::before {
        content: '';
        position: absolute;
        top: -2rem; right: 0;
        width: 0; height: 0;
        border: 2rem solid transparent;
        border-right: 2rem solid white;
        border-bottom: 2rem solid white;
    }

    nav a {
        display: block;
        color: var(--blue-dark);
    }

    nav #contact {
        background: hsl(51, 100%, 49%);
    }

    h1 {
        margin: 5rem auto 3rem;
        text-align: center;
        font-size: 2.5rem;
    }



    .transform {flex-flow: column-reverse nowrap;}

    .standout {flex-flow: column nowrap;}

    .desc {
        padding: 4rem 1.5rem;
        text-align: center;
    }

    h2 {font-size: 2rem;}

    .misc {flex-flow: column nowrap;}

    .graphic, .photo {
        padding: 1rem;
    }

    .graphic p, .photo p {
        font-size: 16px;
        line-height: 1.5rem;
    }

    .client {
        padding: 3rem 1.5rem;
    }

    .client > h4 {
        font-size: 1.1rem;
        letter-spacing: 4px;
    }

    .reviews {
        margin: 3rem 0;
        flex-flow: column nowrap;
        gap: 5rem;
    }

    .reviews img {
        transform: scale(1);
        width: 20%;
    }

    .reviews p {margin-bottom: 2rem;}

    #egg {background: url('images/mobile/image-transform.jpg') center/cover no-repeat;}
    #goblet {background: url('images/mobile/image-stand-out.jpg') center/cover no-repeat;}

    .gallery {
        display: flex;
        flex-flow: row wrap;
    }

    .gallery > div {
        padding: 0;
        width: 50vw; height: 50vw;
    }
    
    #milk {background: url('images/mobile/image-gallery-milkbottles.jpg') center/cover no-repeat;}
    #orange {background: url('images/mobile/image-gallery-orange.jpg') center/cover no-repeat;}
    #cone {background: url('images/mobile/image-gallery-cone.jpg') center/cover no-repeat;}
    #sugar {background: url('images/mobile/image-gallery-sugar-cubes.jpg') center/cover no-repeat;}
}